{% load staticfiles bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% comment %}<link rel="icon" href="{% static 'favicon.ico' %}">{% endcomment %}

    <title>{% block title %}{{ site.name }}{% endblock %}</title>

    {% bootstrap_css %}
    <link href="{% static 'css/ponyconf.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}

    {% block js %}{% endblock %}

    {% if site.conference.external_css_link %}
    <link href="{{ site.conference.external_css_link }}" rel="stylesheet">
    {% endif %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

{% block body %}{% endblock %}

    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    <script src="{% static 'js/ponyconf.js' %}"></script>
    {% block js_end %}{% endblock %}
  </body>
</html>
