django<3

django-bootstrap3
django-bower
django-crispy-forms
django-select2<6
django-colorful
-e git://github.com/nim65s/django-autoslug.git#egg=django-autoslug

markdown
bleach
chardet
icalendar
jinja2
