django<1.11

django-autoslug
django-bootstrap3
django-bower
django-registration-redux
django-select2
django-avatar
django-colorful

markdown
bleach
chardet

-e git://github.com/Nim65s/django-YummyEmailOrUsernameInsensitiveAuth.git#egg=django-yeouia
