{% extends 'base.html' %}

{% load i18n %}

{% block planningtab %} active{% endblock %}

{% block content %}

<h1>{{ room.name }}
  <small>{{ room.label }}</small>
</h1>

<h2>{% trans "Scheduled talks" %}</h2>
{% for talk in room.talks_by_date %}
{% if forloop.first %}<ul>{% endif %}
<li>
  <a href="{% url 'show-talk' talk.slug %}"><strong>{{ talk }}</strong></a> &ndash; <em>{{ talk.get_speakers_str }}</em><br />
  <span>{{ talk.start_date }} &ndash; {% if talk.end_date %}{{ talk.end_date|date:"H:i" }}{% else %}?{% endif %}</span>
</li>
{% if forloop.last %}</ul>{% endif %}
{% empty %}
<em>{% trans "No talks." %}</em>
{% endfor %}

<h3>{% trans "Unscheduled talks" %}</h3>
{% for talk in room.unscheduled_talks %}
{% if forloop.first %}<ul>{% endif %}
<li><a href="{% url 'show-talk' talk.slug %}">{{ talk }}</a></li>
{% if forloop.last %}</ul>{% endif %}
{% empty %}
<em>{% trans "No talks." %}</em>
{% endfor %}

{% endblock %}
