{% extends 'base.html' %}

{% load accounts_tags i18n %}

{% block participatetab %} class="active"{% endblock %}

{% block content %}

<h1>{% trans "Enrole as volunteer" %}</h1>

{% for activity in activities %}
{% if forloop.first %}<div class="list-group">{% endif %}
  <div class="list-group-item{% if request.user in activity.participants.all %} list-group-item-info{% endif %}">
    <h4 clas="list-group-item-heading">{{ activity.name }}</h4>
    <p class="list-group-item-text">
      <p>{{ activity.description }}</p>
      <p>
        {% if request.user in activity.participants.all %}
        <a class="btn btn-danger" href="{% url 'enrole-in-activity' slug=activity.slug %}">{% trans "Sorry, I have a setback" %}</a>
        {% else %}
        <a class="btn btn-primary" href="{% url 'enrole-in-activity' slug=activity.slug %}">{% trans "I will be happy to help on that!" %}</a>
        {% endif %}
      </p>
    </p>
  </div>
{% if forloop.last %}</div>{% endif %}
{% empty %}
<em>{% trans "We are not yet looking for volunteers … come back later!" %}</em>
{% endfor %}

{% endblock %}
