<ul>
  {% regroup talk_list by event as event_list %}
  {% for event in event_list %}
  <li>{{ event.list.0.get_event_display }}
    <ul>{% for talk in event.list %}
      <li>
        <a href="{% url 'show-talk' talk.slug %}">{{ talk }}</a>
        <i>by</i>
        {% for speaker in talk.speakers.all %}
        <a href="{% url 'show-speaker' speaker.username %}">{{ speaker }}</a>
        {% if forloop.revcounter == 2 %} and {% elif not forloop.last %}, {% endif %}
        {% endfor %}
      </li>
      {% endfor %}
    </ul>
    {% empty %}Nothing
  </li>{% endfor %}
</ul>
