{% extends 'base.html' %}

{% load accounts_tags i18n %}

{% block participatetab %} class="active"{% endblock %}

{% block content %}

<h1>{% trans "Participate" %}</h1>

{% if my_talks %}
<h2>{% trans "My talks:" %}</h2>
{% include "proposals/_talk_list.html" with talk_list=my_talks %}
{% endif %}

{% if proposed_talks %}
<h2>{% trans "Proposed talks for others speakers:" %}</h2>
{% include "proposals/_talk_list.html" with talk_list=proposed_talks %}
{% endif %}

<br />
{% if conf.cfp_is_open or request|orga %}
<a class="btn btn-{% if conf.cfp_is_open %}success{% else %}danger{% endif %}" href="{% url 'add-talk' %}">{% trans "Propose a talk" %}</a>
{% else %}
{% trans "Sorry, the Call for Participation is closed." %}
{% endif %}

{% endblock %}
