{% extends 'base.html' %}

{% load bootstrap3 i18n %}

{% block subscriptiontab %} class="active"{% endblock %}

{% block css %}
{{ block.super }}
{{ form.media.css }}
{% endblock %}

{% block content %}

<h1>{% trans "Subscribe to a workshop" %}<br /><small>{{ talk.title }}</small></h1>

{% include "_form.html" %}

<p class="text-center">
    <a href="{% url "login" %}?next={% url "subscribe-to-talk" talk.slug %}">{% trans "Login to register with you're account" %}</a>
</p>

{% endblock %}

{% block js_end %}
{{ block.super }}
{{ form.media.js }}
{% endblock %}
