{% extends 'base.html' %}

{% load i18n %}

{% block talktab %} class="active"{% endblock %}

{% block content %}

<h1>{% trans "Talks" %}</h1>

<a class="btn btn-success" href="{% url 'add-talk' %}">{% trans "Propose a talk" %}</a>

{% if my_talks %}
  <h2>{% trans "My participing talks" %}</h2>
  {% include "proposals/_talk_list.html" with talk_list=my_talks %}
{% endif %}

{% if other_talks %}
  <h2>{% trans "Others talks" %}</h2>
  {% include "proposals/_talk_list.html" with talk_list=other_talks %}
{% endif %}

{% endblock %}
