{% extends 'base.html' %}

{% load bootstrap3 i18n accounts_tags %}

{% block listingtab %} active{% endblock %}

{% block content %}

<h1>{% trans "Talks" %}</h1>

<a class="btn btn-primary" role="button" data-toggle="collapse" href="#filter" aria-expanded="{{ show_filters|yesno:"true,false" }}" aria-controls="filter">{% trans "Show filtering options…" %}</a>

<br /><br />

<div class="collapse{{ show_filters|yesno:" in," }}" id="filter">
    <div class="well">
        <form class="form-horizontal" method="get">
            <div class="row">
                <div class="col-md-4 col-xs-6">
                    {% bootstrap_field filter_form.status layout="horizontal" %}
                    {% bootstrap_field filter_form.kind layout="horizontal" %}
                    {% bootstrap_field filter_form.vote layout="horizontal" %}
                    {% bootstrap_field filter_form.room layout="horizontal" %}
                    {% bootstrap_field filter_form.scheduled layout="horizontal" %}
                </div>
                <div class="col-md-4 col-xs-6">
                    {% bootstrap_field filter_form.topic layout="horizontal" %}
                </div>
                <div class="col-md-4 col-xs-6">
                    {% bootstrap_field filter_form.track layout="horizontal" %}
                </div>
            </div>
            <input type="submit" class="btn btn-success" value="{% trans "Filter" %}">
        </form>
    </div>
</div>

<form action="" method="post">

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th></th>
            <th class="text-center">{% trans "Title" %} <a href="?{{ sort_urls.title }}"><span class="glyphicon glyphicon-{{ sort_glyphicons.title }} pull-right"></span></a></th>
            <th class="text-center">{% trans "Intervention kind" %} <a href="?{{ sort_urls.kind }}"><span class="glyphicon glyphicon-{{ sort_glyphicons.kind }} pull-right"></span></a></th>
            <th class="text-center">{% trans "Speakers" %}</th>
            <th class="text-center">{% trans "Topics" %}</th>
            <th class="text-center">{% trans "Track" %}</th>
            <th class="text-center">{% trans "Status" %} <a href="?{{ sort_urls.status }}"><span class="glyphicon glyphicon-{{ sort_glyphicons.status }} pull-right"></span></a></th>
        </tr>
    </thead>
    {% for talk in talk_list %}
    {% if forloop.first %}
    <tbody>
        <tr>
            <th colspan="5">{% trans "Total:" %} {{ talk_list|length }} {% trans "talk" %}{{ talk_list|length|pluralize }}</th>
        </tr>
    {% endif %}
        <tr class="{{ talk.accepted|yesno:"success,danger,warning" }}">
            <td><input type="checkbox" name="talks" value="{{ talk.slug }}"></td>
            <td><a href="{% url 'show-talk' talk.slug %}">{{ talk.title }}</a></td>
            <td>{{ talk.event }}</td>
            <td>
                {% for speaker in talk.speakers.all %}
                    <a href="{% url 'show-speaker' speaker.username %}">{{ speaker.profile }}</a>
                    {% if forloop.revcounter == 2 %} {% trans "and" %} {% elif not forloop.last %}, {% endif %}
                    {% empty %}–
                {% endfor %}
            </td>
            <td>
                {% for topic in talk.topics.all %}
                    <span class="badge">{{ topic }}</span>
                {% endfor %}
            </td>
            <td>{{ talk.track|default:"–" }}</td>
            <td>
                {% if talk.accepted == True %}
                    {% trans "Accepted" %}
                {% elif talk.accepted == False %}
                    {% trans "Declined" %}
                {% else %}
                    {% blocktrans with score=talk.score|floatformat:1 %}Pending, score: {{ score }}{% endblocktrans %}
                {% endif %}
            </td>
        </tr>
    {% if forloop.last%}
    </tbody>
    {% endif %}
    {% endfor %}
    <tfoot>
        <tr>
            <th colspan="5">{% trans "Total:" %} {{ talk_list|length }} {% trans "talk" %}{{ talk_list|length|pluralize }}</th>
        </tr>
    </tfoot>
</table>

{% if action_form %}
<div id="filter">
    <div class="well">
        <h4>{% trans "For selected talks:" %}</h4>
        {% csrf_token %}
        {% bootstrap_field action_form.decision %}
        {% if request|orga %}
        {% bootstrap_field action_form.track %}
        {% bootstrap_field action_form.room %}
        {% endif %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">{% trans "Apply" %}</button>
        {% endbuttons %}
    </div>
</div>
{% endif %}

</form>

{% endblock %}

{% block js_end %}
<script type="text/javascript">
jQuery(document).ready(function($) {
    var anchor = window.location.hash.replace("#", "");
	if (anchor == "filter") {
		$("#filter").collapse('show');
	}
});
</script>
{% endblock %}
