{% extends 'base.html' %}

{% load bootstrap3 i18n %}

{% block wsregtab %} class="active"{% endblock %}

{% block css %}
{{ block.super }}
{{ form.media.css }}
{% endblock %}

{% block content %}

<h1>{% trans "Register for a workshop" %}<br /><small>{{ talk.title }}</small></h1>

<hr>

{% include "_form.html" %}

<p class="text-center">
    <a href="{% url "login" %}?next={% url "register-for-a-talk" talk.slug %}">{% trans "Login to register with your account" %}</a>
</p>

{% endblock %}

{% block js_end %}
{{ block.super }}
{{ form.media.js }}
{% endblock %}
