{% extends base_template %}

{% load i18n %}

{% block talkstab %}{% if base_template == 'staff.html' %} class="active"{% endif %}{% endblock %}
{% block exhibitortab %}{% if base_template == 'base.html' %} class="active"{% endif %}{% endblock %}

{% block content %}

<h1>{% if talk %}{% trans "Edit a talk" %}{% else %}{% trans "Propose a talk" %}{% endif %}</h1>

{% include "_form.html" %}

{% endblock %}

{% block css %}
{{ block.super }}
{{ form.media.css }}
{% endblock css %}

{% block js_end %}
{{ block.super }}
{{ form.media.js }}
<script type="text/javascript">
var update_attendees_limit = function() {
    if ($("#id_registration_required").is(":checked")) {
        $(".form-group:has(#id_attendees_limit)").show();
    } else {
        $(".form-group:has(#id_attendees_limit)").hide();
    }
}
$(function() {
    update_attendees_limit();
    $("#id_registration_required").change(update_attendees_limit);
})
</script>
{% endblock js_end %}
