{% extends 'base.html' %}

{% block talktab %} class="active"{% endblock %}

{% block content %}

<h1>{{ talk.title }}</h1>

{% if edit_perm %}
<a class="btn btn-primary" href="{% url 'edit-talk' talk.slug %}">edit</a><br />
{% endif %}

<p>{{ talk.get_event_display }}</p>

<h3>Description:</h3>

<p>{{ talk.description }}</p>

<h3>Speakers:</h3>

<ul>
{% for speaker in talk.speakers.all %}
    <li><a href="{% url 'show-speaker' speaker.username %}">{{ speaker }}</a></li>
{% empty %}
    <li><i>No speaker.</i></li>
{% endfor %}
</ul>

<h3>Topics:</h3>

<ul>
{% for topic in talk.topics.all %}
<li>{{ topic.get_link }}</li>
{% endfor %}
</ul>

{% if moderate_perm %}
<h2>Moderation</h2>

<h3>Vote:</h3>
<div class="btn-group" role="group" aria-label="vote">
  <a class="btn {% if vote.vote == -2 %} active {% endif %}btn-danger"  href="{% url 'vote' talk=talk.slug score='-2' %}">-2</a>
  <a class="btn {% if vote.vote == -1 %} active {% endif %}btn-warning" href="{% url 'vote' talk=talk.slug score='-1' %}">-1</a>
  <a class="btn {% if vote.vote == 0 %}  active {% endif %}btn-default" href="{% url 'vote' talk=talk.slug score='0'  %}"> 0</a>
  <a class="btn {% if vote.vote == 1 %}  active {% endif %}btn-info"    href="{% url 'vote' talk=talk.slug score='1'  %}">+1</a>
  <a class="btn {% if vote.vote == 2 %}  active {% endif %}btn-success" href="{% url 'vote' talk=talk.slug score='2'  %}">+2</a>
</div>

Sum: {{ talk.score }}

<h3>Status:</h3>
{{ talk.accepted|yesno:"✔,✘,?" }}

<h3>Messages:</h3>
{% for message in talk.conversation.messages.all %}
{% include 'conversations/_message_detail.html' %}
{% endfor %}

{% include 'conversations/_message_form.html' %}

{% endif %}

{% endblock %}
