{% extends 'base.html' %}

{% load i18n %}

{% block talktab %} class="active"{% endblock %}

{% block content %}

<h1>{{ talk.title }}</h1>

{% if edit_perm %}
<a class="btn btn-success" href="{% url 'edit-talk' talk.slug %}">{% trans "Edit" %}</a><br />
{% endif %}

<h3>{% trans "Format:" %}</h3>

<p>{{ talk.event }}</p>

<h3>{% trans "Abstract:" %}</h3>

<p>{% if talk.abstract %}{{ talk.abstract }}{% else %}<i>{% trans "No abstract provided." %}</i>{% endif %}</p>

<h3>{% trans "Description:" %}</h3>

<p>{% if talk.description %}{{ talk.description }}{% else %}<i>{% trans "No description provided." %}</i>{% endif %}</p>

<h3>{% trans "Speakers:" %}</h3>

{% for speaker in talk.speakers.all %}
{% if forloop.first %}<ul>{% endif %}
    <li><a href="{% url 'show-speaker' speaker.username %}">{{ speaker }}</a></li>
{% if forloop.last %}</ul>{% endif %}
{% empty %}
<i>{% trans "No speakers." %}</i>
{% endfor %}

<h3>{% trans "Topics:" %}</h3>

{% for topic in talk.topics.all %}
{% if forloop.first %}<ul>{% endif %}
    <li><a href="{% url 'list-talks-by-topic' topic.slug %}">{{ topic }}</a></li>
{% if forloop.last %}</ul>{% endif %}
{% empty %}
<i>{% trans "No topics." %}</i>
{% endfor %}

{% if moderate_perm %}

<h3>{% trans "Notes:" %}</h3>

<p>{% if talk.notes %}{{ talk.notes }}{% else %}<i>{% trans "No notes." %}</i>{% endif %}</p>

<h2>{% trans "Moderation" %}</h2>

<h3>{% trans "Vote:" %}</h3>
<div class="btn-group" role="group" aria-label="vote">
  <a class="btn {% if vote.vote == -2 %} active {% endif %}btn-danger"  href="{% url 'vote' talk=talk.slug score='-2' %}">-2</a>
  <a class="btn {% if vote.vote == -1 %} active {% endif %}btn-warning" href="{% url 'vote' talk=talk.slug score='-1' %}">-1</a>
  <a class="btn {% if vote.vote == 0 %}  active {% endif %}btn-default" href="{% url 'vote' talk=talk.slug score='0'  %}"> 0</a>
  <a class="btn {% if vote.vote == 1 %}  active {% endif %}btn-info"    href="{% url 'vote' talk=talk.slug score='1'  %}">+1</a>
  <a class="btn {% if vote.vote == 2 %}  active {% endif %}btn-success" href="{% url 'vote' talk=talk.slug score='2'  %}">+2</a>
</div>

{% trans "Sum:" %} {{ talk.score }}

<h3>{% trans "Status:" %}</h3>
{{ talk.accepted|yesno:"✔,✘,?" }}

<h3>{% trans "Messages:" %}</h3>
{% for message in talk.conversation.messages.all %}
{% include 'conversations/_message_detail.html' %}
{% endfor %}

{% include 'conversations/_message_form.html' %}

{% endif %}

{% endblock %}
