{% extends 'base.html' %}

{% block talktab %} class="active"{% endblock %}

{% block content %}

<h1>{{ talk.title }}</h1>

{% if edit_perm %}
<a class="btn btn-primary" href="{% url 'edit-talk' talk.slug %}">edit</a><br />
{% endif %}

<p>{{ talk.get_event_display }}</p>

<b>Description:</b>

<p>{{ talk.description }}</p>

<b>Speakers:</b>

<ul>
{% for speaker in talk.speakers.all %}
    <li><a href="{% url 'show-speaker' speaker.username %}">{{ speaker }}</a></li>
{% empty %}
    <li><i>No speaker.</i></li>
{% endfor %}
</ul>

<b>Topics:</b>

<ul>
{% for topic in talk.topics.all %}
<li>{{ topic.get_link }}</li>
{% endfor %}
</ul>

{% endblock %}
