{% extends 'base.html' %}

{% load bootstrap3 accounts_tags i18n %}

{% block topictab %} class="active"{% endblock %}

{% block content %}

<h1>{% trans "Topics" %}</h1>

{% if request|orga %}
<p><a href="{% url 'add-topic' %}" class="btn btn-success">{% trans "Add a topic" %}</a><p>
{% endif %}

<div class="row">
  {% for topic in topic_list %}
  <div class="col-xs-6 col-sm-4">
    <h2>{{ topic }}</h2>
    <p>{{ topic.description }}</p>
    {% if request|staff %}
        {{ topic.reviewers.count }} {% trans "reviewer" %}{{ topic.reviewers.count|pluralize }}
        |
        <a href="{{ topic.get_absolute_url }}">{{ topic.talk_set.count }} {% trans "talk" %}{{ topic.talk_set.count|pluralize }}</a>
        |
        <a href="{% url 'edit-topic' topic.slug %}">{% bootstrap_icon "pencil" %}</a>
    {% else %}
        <a href="{{ topic.get_absolute_url }}">{% trans "talk" %}{{ topic.talk_set.count|pluralize }}</a>
    {% endif %}
  </div>
    {% cycle '' '<div class="clearfix visible-xs"></div>' %}
    {% cycle '' '' '<div class="clearfix hidden-xs"></div>' %}
  {% empty %}
  <div class="col-xs-12"><em>{% trans "No topics." %}</em></div>
  {% endfor %}
</div>

{% endblock %}
