{% extends 'base.html' %}

{% load accounts_tags i18n %}

{% block topictab %} class="active"{% endblock %}

{% block content %}

<h1>{% trans "Topics:" %}</h1>

<ul>
  {% for topic in topic_list %}
  <li>
    {% if request|staff %}
        {{ topic }}:
        <a href="{% url 'edit-topic' topic.slug %}">{{ topic.reviewers.count }} {% trans "reviewer" %}{{ topic.reviewers.count|pluralize }}</a>
        {% trans "and" %}
        <a href="{{ topic.get_absolute_url }}">{{ topic.talk_set.count }} {% trans "talk" %}{{ topic.talk_set.count|pluralize }}</a>
    {% else %}
        <a href="{{ topic.get_absolute_url }}">{{ topic }}</a>
    {% endif %}
  </li>
  {% empty %}
  <li><i>{% trans "No topics." %}</i></li>
  {% endfor %}
</ul>

{% if request|orga %}
<a href="{% url 'add-topic' %}" class="btn btn-success">{% trans "Add a topic" %}</a>
{% endif %}

{% endblock %}
