{% extends 'base.html' %}

{% load bootstrap3 accounts_tags i18n %}

{% block tracktab %} class="active"{% endblock %}

{% block content %}

<h1>{% trans "Tracks" %}</h1>

{% if request|orga %}
<p><a href="{% url 'add-track' %}" class="btn btn-success">{% trans "Add a track" %}</a><p>
{% endif %}

<div class="row">
  {% for track in track_list %}
  <div class="col-xs-6 col-sm-4">
    <h2>{{ track }}</h2>
    <p>{{ track.description }}</p>
    {% if request|staff %}
        <a href="{{ track.get_absolute_url }}">{{ track.talk_set.count }} {% trans "talk" %}{{ track.talk_set.count|pluralize }}</a>
        |
        <a href="{% url 'edit-track' track.slug %}">{% bootstrap_icon "pencil" %}</a>
    {% endif %}
  </div>
    {% cycle '' '<div class="clearfix visible-xs"></div>' %}
    {% cycle '' '' '<div class="clearfix hidden-xs"></div>' %}
  {% empty %}
  <div class="col-xs-12"><em>{% trans "No tracks." %}</em></div>
  {% endfor %}
</div>

{% endblock %}
