{% extends 'base.html' %}
{% load accounts_tags %}

{% block speakertab %} class="active"{% endblock %}

{% block content %}

<h1>{{ profile }}</h1>

<h2>Biography</h2>
<p>{{ profile.biography }}</p>

<h2>Talks</h2>
<a href="{% url 'list-talks-by-speaker' profile.user.username %}">See the list of talks with this speaker</a>

{% if request|edit_profile:profile %}
<h2>Notes</h2>
<p>{{ profile.notes }}</p>
<a href="{% url 'edit-profile' profile.user.username %}" class="btn btn-success">Edit</a>
{% endif %}


{% endblock %}
