{% extends 'base.html' %}
{% load accounts_tags i18n avatar_tags %}

{% block speakertab %} class="active"{% endblock %}

{% block content %}

<h1>{{ profile }}</h1>

{% if request|staff %}
<a href="{% url 'conversation' profile.user.username %}" class="btn btn-primary ">{% trans "Contact" %}</a>
{% endif %}
{% if request|edit_profile:profile %}
<a href="{% url 'edit-participant' profile.user.username %}" class="btn btn-success">{% trans "Edit" %}</a>
{% endif %}

<img class="pull-right" src="{% avatar_url profile.user 160 %}" />

<h2>{% trans "Biography" %}</h2>
<p>{{ profile.biography }}</p>

<h2>{% trans "Talks" %}</h2>
{% include "proposals/_talk_list.html" %}

{% if request|edit_profile:profile %}

<h2>{% trans "Preferences" %}</h2>

<ul>
    <li><b>{% trans "Need transport:" %}</b> {{ participation.need_transport|yesno:"Yes,No,Not specified" }}</li>
    <li><b>{% trans "Arrival:" %}</b> {{ participation.arrival }}</li>
    <li><b>{% trans "Departure:" %}</b> {{ participation.departure }}</li>
    <li><b>{% trans "Ok to travel by:" %}</b> {% for transport in participation.transport.all %}{% if not forloop.first %}, {% endif %}{{ transport }}{% endfor %}</li>
    <li><b>{% trans "Transport booked:" %}</b> {{ participation.transport_booked|yesno }}</li>
    <li><b>{% trans "Need accommodation:" %}</b> {% if participation.accommodation is None %}Not specified{% else %}{{ participation.get_accommodation_display }}{% endif %}</li>
    <li><b>{% trans "Accommodation booked:" %}</b> {{ participation.accommodation_booked|yesno }}</li>
    <li><b>{% trans "Video output:" %}</b> {% for conn in participation.connector.all %}{% if not forloop.first %}, {% endif %}{{ conn }}{% endfor %}</li>
    <li><b>{% trans "Need sound:" %}</b> {{ participation.sound|yesno }}</li>
    <li><b>{% trans "Ok to be recorded on video:" %}</b> {{ participation.videotaped|yesno }}</li>
    <li><b>{% trans "Video licence:" %}</b> {{ participation.video_licence|yesno }}</li>
</ul>

<h2>{% trans "Constraints" %}</h2>
<p>{{ participation.constraints|linebreaksbr }}</p>

<h2>{% trans "Notes" %}</h2>
<p>{{ participation.notes|linebreaksbr }}</p>

{% endif %}


{% endblock %}
