{% extends 'base.html' %}
{% load accounts_tags i18n avatar_tags %}

{% block speakertab %} class="active"{% endblock %}

{% block content %}

<h1>{{ profile }}</h1>

<img class="pull-right" src="{% avatar_url profile.user 160 %}" />

<h2>{% trans "Biography" %}</h2>
<p>{{ profile.biography }}</p>

<h2>{% trans "Talks" %}</h2>
{% include "proposals/_talk_list.html" %}

{% if request|edit_profile:profile %}
<h2>{% trans "Notes" %}</h2>
<p>{{ profile.notes }}</p>
<a href="{% url 'edit-participant' profile.user.username %}" class="btn btn-success">{% trans "Edit" %}</a>
{% endif %}


{% endblock %}
