{% extends 'base.html' %}

{% load bootstrap3 i18n %}

{% block logintab %} class="active"{% endblock %}

{% block content %}
<div class="page-header">
  <h1>
    {% trans "Login" %}
  </h1>
</div>

<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div class="well">
        {% bootstrap_form_errors form layout="horizontal" %}
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            {% bootstrap_field form.username layout="horizontal" %}
            {% bootstrap_field form.password layout="horizontal" %}
            {% buttons layout="horizontal" %}
                <button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
                <a class="btn btn-default" href="{% url 'password_reset' %}">{% trans "Forgot password?" %}</a>
            {% endbuttons %}
        </form>
      </div>
  </div>
</div>
{% endblock %}
