{% extends 'base.html' %}

{% block content %}
<div class="page-header">
  <h1>
    Mot de passe oublié
  </h1>
</div>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="well">
        <p>
            Un e-mail contenant un lien vous permettant de réinitialiser votre mot de passe vous a été envoyé.
            Si vous ne le recevez pas, celui-ci est peut-être arrivé dans votre dossier « spam ».
        </p>
        <a class="btn btn-primary" href="{% url 'login' %}">Se connecter</a>
      </div>
  </div>
</div>
{% endblock %}
