{% extends 'registration/base.html' %}

{% load bootstrap3 %}

{% block content %}
{% if validlink %}
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            {% bootstrap_form form layout="horizontal" %}
            {% buttons layout="horizontal" %}
                <button type="submit" class="btn btn-primary">Modifier le mot de passe</button>
                <a class="btn btn-default" href="{% url 'login' %}">Annuler</a>
            {% endbuttons %}
        </form>
{% else %}
        <p>Ce lien de réinitialisation de mot de passe est invalide ou expiré.</p>
        <p>
            <a class="btn btn-primary" href="{% url 'password_reset' %}">Formulaire de réinitialisation du mot de passe</a>
            <a class="btn btn-default" href="{% url 'login' %}">Login</a>
        </p>
{% endif %}
{% endblock %}
