{% extends 'cfp/staff/talk_details.html' %}
{% load i18n crispy_forms_tags %}

{% block talk_actions %}

<h3>{% trans "Add a speaker" %}</h3>


<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <a href="{{ talk.get_absolute_url }}" class="btn btn-default">{% trans "Abort" %}</a>
    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
</form>

{% endblock %}

{% block js_end %}
{{ block.super }}
{{ form.media.js }}
{% endblock %}

{% block css %}
{{ block.super }}
{{ form.media.css }}
{% endblock %}
