{% extends 'cfp/staff/base.html' %}
{% load bootstrap3 i18n %}

{% block talkstab %} class="active"{% endblock %}

{% block content %}

<h1>{{ talk.title }}</h1>

{% comment %}
{% if edit_perm %}
<a class="btn btn-success" href="{% url 'edit-talk' talk.slug %}">{% trans "Edit" %}</a><br />
{% endif %}
{% endcomment %}

<p>{% if talk.abstract %}{{ talk.abstract }}{% else %}<i>{% trans "No abstract provided." %}</i>{% endif %}</p>

{% comment %}
{% if moderate_perm %}

<dl class="dl-horizontal">
    <dt>{% trans "Format" %}</dt>
      <dd><a href="{{ talk.event.get_absolute_url }}">{{ talk.event }}</a></dd>
    <dt>{% trans "Topics" %}</dt>
      <dd>{% for topic in talk.topics.all %}
      <a href="{{ topic.get_absolute_url }}">{{ topic }}</a>{% if not forloop.last %}, {% endif %}
      {% empty %}
      <i>{% trans "No topics." %}</i>
      {% endfor %}</dd>

    <dt>{% trans "Track" %}</dt>
      <dd>{% if talk.track %}
        <a href="{{ talk.track.get_absolute_url }}">{{ talk.track }}</a>
      {% else %}
      <em>{% trans "No assigned yet." %}</em>
      {% endif %}</dd>

    <dt>Horaire</dt>
      <dd>{% if talk.start_date %}
          <span class="date">{{ talk.start_date|date:"l d b" }}</span>,
          <span class="time">{{ talk.start_date|date:"H:i" }} &ndash; {% if talk.end_date %}{{ talk.end_date|date:"H:i" }}{% else %}?{% endif %}</span>
          {% else %}<em>{% trans "not defined" %}</em>
          {% endif %}
      </dd>
    <dt>Salle</dt>
      <dd>{% if talk.room %}
        <a href="{{ talk.room.get_absolute_url }}">
          <span class="label label-info">{{ talk.room }}</span>
        </a>
        {% else %}<em>{% trans "not defined" %}</em>
        {% endif %}
      </dd>
    {% if talk.registration_required %}
    <dt>{% trans "Registrations" %}</dt>
      <dd>{% if talk.attendees_limit %}{{ talk.attendees.count }} / {{ talk.attendees_limit }}{% else %}{% trans "required but unlimited" %}{% endif %}</dd>
    {% endif %}
    {% if talk.materials %}
    <dt>{% trans "Materials" %}</dt>
      <dd><a href="{{ talk.materials.url }}">{{ talk.materials_name }}</a></dd>
    {% endif %}
    {% if talk.video %}
    <dt>{% trans "Video" %}</dt>
      <dd><a href="{{ talk.video }}">{% trans "download" %}</a></dd>
    {% endif %}

</dl>

{% endif %}
{% endcomment %}

<h3>{% trans "Description" %}</h3>

<p>{% if talk.description %}{{ talk.description|linebreaksbr }}{% else %}<i>{% trans "No description provided." %}</i>{% endif %}</p>

<h3>{% trans "Speakers" %}</h3>

{% for participant in talk.speakers.all %}
{% if forloop.first %}<ul>{% endif %}
    <li><a href="{% url 'participant-details' participant.token %}">{{ participant }}</a></li>
{% if forloop.last %}</ul>{% endif %}
{% empty %}
<i>{% trans "No speakers." %}</i>
{% endfor %}

<h3>{% trans "Track" %}</h3>
{% if talk.track %}
<p>{{ talk.track }}</p>
{% else %}
<p><em>{% trans "No assigned yet." context "session" %}</em></p>
{% endif %}

<h3>{% trans "Notes" %}</h3>

<p>{% if talk.notes %}{{ talk.notes|linebreaksbr }}{% else %}<i>{% trans "No notes." %}</i>{% endif %}</p>

<h2>{% trans "Moderation" %}</h2>

<h3>{% trans "Status" %}</h3>

<span class="label label-{{ talk.accepted|yesno:"success,danger,warning" }}">{{ talk.accepted|yesno:"Accepted,Declined,Pending decision" }}</span><br />

{% if talk.accepted == None %}
<h3>{% trans "Vote" %}</h3>
<div class="btn-group" role="group" aria-label="vote">
  <a class="btn {% if vote.vote == -2 %} active {% endif %}btn-danger"  href="{% url 'talk-vote' talk.token '-2' %}">-2</a>
  <a class="btn {% if vote.vote == -1 %} active {% endif %}btn-warning" href="{% url 'talk-vote' talk.token '-1' %}">-1</a>
  <a class="btn {% if vote.vote == 0 %}  active {% endif %}btn-default" href="{% url 'talk-vote' talk.token '0'  %}"> 0</a>
  <a class="btn {% if vote.vote == 1 %}  active {% endif %}btn-info"    href="{% url 'talk-vote' talk.token '+1'  %}">+1</a>
  <a class="btn {% if vote.vote == 2 %}  active {% endif %}btn-success" href="{% url 'talk-vote' talk.token '+2'  %}">+2</a>
</div>
<br /><br />
<p>{{ talk.vote_set.count }} {% trans "vote" %}{{ talk.vote_set.count|pluralize }}, {% trans "average:" %} {{ talk.score|floatformat:1 }}</p>

<a href="{% url 'talk-accept' talk.token %}" class="btn btn-success">Accept</a>
<a href="{% url 'talk-decline' talk.token %}" class="btn btn-danger">Decline</a>
{% endif %}

{% comment %}
{% if talk.registration_required %}
<h3>{% trans "Attendees" %}</h3>

{% for attendee in talk.attendees.all %}
{% if forloop.first %}<ol>{% endif %}
  <li><a href="mailto:{{ attendee.get_email }}">{{ attendee.get_name }}</a></li>
{% if forloop.last %}</ol>{% endif %}
{% empty %}
<em>{% trans "No attendees yet." %}</em>
{% endfor %}

{% endif %}
{% endcomment %}

{% comment %}
<h3>{% trans "Messages" %}</h3>
{% trans "These messages are for organization team only." %}<br /><br />
{% for message in talk.conversation.messages.all %}
{% include 'conversations/_message_detail.html' %}
{% endfor %}

{% include 'conversations/_message_form.html' %}
{% endcomment %}

{% endblock %}
