{% extends 'base.html' %}

{% load ponyconf_tags i18n %}

{% block proposetab %} class="active"{% endblock %}

{% block content %}
<div class="page-header">
  <h1>
    {% trans "Your proposition have been successfully submitted!" %}
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
      <p>{% trans "Thanks for your proposal" %}</p>
      <p>{% trans "You can edit your talk at anytime:" %} <a href="{% url 'talk-proposal-edit' talk.token participant.token %}">{% if request.is_secure %}https{% else %}http{% endif %}://{{ site.domain }}{% url 'talk-proposal-edit' talk.token participant.token %}</a></p>
      <p>{% trans "You can add an additionnal speaker:" %} <a href="{% url 'talk-proposal-speaker-add' talk.token %}">{% if request.is_secure %}https{% else %}http{% endif %}://{{ site.domain }}{% url 'talk-proposal-speaker-add' talk.token %}</a></p>
      <p>{% trans "You can edit your profile:" %} <a href="{% url 'talk-proposal-speaker-edit' talk.token participant.token %}">{% if request.is_secure %}https{% else %}http{% endif %}://{{ site.domain }}{% url 'talk-proposal-speaker-edit' talk.token participant.token %}</a></p>
      <p>{% trans "An email has been sent to you with those URLs" %}
  </div>
</div>
{% endblock %}
