{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load ponyconf_tags i18n %}

{% block proposetab %} class="active"{% endblock %}

{% block content %}
<div class="page-header">
  <h1>
    {% if talk %}
      {% if co_speaker %}
        {% trans "Edit a speaker" %}
      {% else %}
        {% trans "Add a co-speaker" %}
        <a href="{% url 'proposal-talk-details' speaker_token=speaker.token talk_id=talk.pk %}" class="btn btn-primary pull-right">
          <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;{% trans "Go back to the talk" %}
        </a>
      {% endif %}
    {% else %}
      {% trans "Edit your profile" %}
      {% comment %}
      <a href="{% url 'proposal-dashboard' speaker_token=speaker.token %}" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;{% trans "My talks" %}
      </a>
      {% endcomment %}
    {% endif %}
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    {% if co_speaker_candidates %}
    <div class="col-md-8 col-md-offset-2 alert alert-info">
      {% trans "You may want to add one of the following speakers:" %}
      {% for spkr in co_speaker_candidates %}
        {% if forloop.first %}<ul>{% endif %}
          <li><a href="{% url 'proposal-speaker-add-existing' speaker_token=speaker.token talk_id=talk.pk speaker_id=spkr.pk %}">{{ spkr }}</a></li>
        {% if forloop.last %}</ul>{% endif %}
      {% endfor %}
    </div>
    {% endif %}
    <form method="POST" class="form-horizontal col-md-8 col-md-offset-2">
      {% csrf_token %}
      {{ speaker_form|crispy }}
      {% if notify_form %}{{ notify_form|crispy }}{% endif %}
      <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-primary text-center">{% trans "Save" %} <i class="fa fa-check"></i></button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
