{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load ponyconf_tags i18n %}

{% block proposetab %} class="active"{% endblock %}

{% block content %}
<div class="page-header">
  <h1>
    {% if talk %}
    {{ talk.title }}
    {% else %}
    {% trans "Submit a proposal" %}
    <a href="{% url 'proposal-dashboard' speaker_token=speaker.token %}" class="btn btn-primary pull-right">
      <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;{% trans "Go back to proposals list" %}
    </a>
    {% endif %}
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
<form method="post" enctype="multipart/form-data" class="form-horizontal col-md-8 col-md-offset-2">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-primary text-center">{% trans "Save" %} <i class="fa fa-check"></i></button>
    </div>
</form>
  </div>
</div>
{% endblock %}
