{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}

<div class="page-header">
  <h1>
    Login
  </h1>
</div>

<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <div class="well">
      <form action="" method="post" role="form">
        {% bootstrap_form form %}
        {% csrf_token %}
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
          <a href="{% if request.GET.prev %}{{ request.GET.prev }}{% else %}{% url 'home' %}{% endif %}"><button class="btn btn-default">Cancel</button></a>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
