- enregistrement sur le site (pas d'enregistrement fb/linkedin: on aime
le libre ici)
- permettre de proposer une participation (conférence/atelier/small
talk/etc.). Un speaker rentre un abstract et peur associer un ou des
co-speakers.
- l'équipe organisatrice peut voter pour les conférences (avec un
commentaire visible uniquement de l'équipe) et les accepter/refuser
- pour chaque conférence/conférencier, on permet d'échanger avec le
conférencier (lui vois ça comme un mail, mais côté orga c'est centralisé
sur l'UI web... c'est mieux pour le suivi).
- Notification (par mail) pour les administrateurs des
ajout/modification de conférence et des échanges avec les intervenants.
- Gestion du planning des salles (on affecte une track à une salle, mais
cela permet surtout de signaler les doublons d'intervenants/salle/etc.)
- Gestion du planning des bénévoles (ils s'inscrivent)
- Générer un planning XML pour être ingérée par l'appli Android
- Gestion de différents profils: speaker, bénévole, responsable de
track, kernel
- Génération des badges
- Un speaker et un bénévole peuvent être enregistré par un tiers
(responsable de track ou kernel).
- Gestion des sponsors : niveaux de sponsorings et personnes présentes
pour la génération des badges
- Gestion des différentes thématiques (CRUD)
- Vues à réaliser: listing des propositions, conférence, bénévoles,
speakers (permet d'avoir une vue d'ensemble)
- Champ de note interne sur un speaker (pour noter des préférences par
exemple) et sur une proposition de conférence
- Gestion de la date d'ouverture/fermeture de l'appel à conférence
(différente selon le type de participation - i.e. conférence/atelier/stand).
- On propose par défaut des propositions du type: talk, workshop, booth
- Profil des intervenenants: nom, prénom, mail, date et heure d'arrivée,
date et heure de départ, moyen de transport, type de connectique,
hébergement,
- Possibilité aux intervenants de récupérer leur billet d’avion
électronique
- Aide au planning : affichage des contraintes des intervenants, qui est
disponible pour un time slot donnée, …
- Stand ?

Le code de l'annéed ernière est là : https://github.com/toulibre/cdl-site
