{% extends 'base.html' %}

{% load bootstrap3 i18n %}

{% block logintab %} class="active"{% endblock %}

{% block content %}

<div class="page-header">
  <h1>
    {% trans "Login" %}
  </h1>
</div>

<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div class="well">
      {% include '_form.html' %}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-4 col-md-4">
    {% url 'registration_register' as reg_url %}
    {% blocktrans %}"You do not have an account yet? Please <a href="{{ reg_url }}">register</a>.{% endblocktrans %}
  </div>
</div>

{% endblock %}
